:root {
  --cor-branca: white;
  --cor-preta: black;
}

html {
  min-height: 100%;
}

* {
  color: var(--cor-preta);
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-image: url('src/imagens/background.jpg');
  background-size: cover;
  min-height: 100%;
  margin: 0;
}

header {
  background-color: rgb(44, 80, 53);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0% 7%;
  flex-wrap: wrap;
}

header a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.3rem;
}

header a:hover {
  background-color: rgb(140, 192, 149);
  transition: 500ms;
  border-radius: 10px;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  text-align: center;
  background-color: var(--cor-branca);
  border-radius: 6px;
  padding-bottom: 1rem;
  max-width: 85%;
  height: 100%;
  margin: -1.35rem auto 2rem auto;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}

.text-content {
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

#quemSomos {
  font-size: 1.3rem;
}

.main-impactos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.cardImpactos {
  width: 40%;
  margin: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
  width: 60%;
  padding-left: 1.5rem;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

main li::before {
  content: "✔";
  padding-right: 2rem;
  left: 0;
  font-weight: bold;
  color: #4caf50;
}

img {
  max-width: 600px;
  margin: 1rem auto;
  border-radius: 60px;
}

form {
  margin: 1rem auto;
  max-width: 60%;
  text-align: left;
}

label {
  margin-bottom: 0.5rem;
}

.parceiros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardParceiros {
  width: 48%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black !important;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.parceiroLogo {
  width: 150px;
}

.teamMember {
  vertical-align: top;
  margin: 1rem;
  width: 10rem;
  border-radius: 100%;
}

.rm {
  font-weight: lighter;
  text-align: center;
}

.equipe {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.equipe h3 {
  text-align: center;
}

#mensagem {
  resize: none;
}

footer {
  margin-top: 3rem;
  text-align: center;
  border-top: 2px solid #e7e7e7;
  display: flex;
  color: #6c757d;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel {
  position: relative;
}

.carousel img {
  display: none;
}

.carousel img.active {
  display: block;
}

.login-container {
  padding: 2rem;
  border-radius: 6px;
  width: 100;
  display: flex;
  align-content: center;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black !important;
}

.login-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

.login-form p {
  text-align: center;
  margin-top: 1rem;
}

.login-form p a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.dark-mode-btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode-btn:hover {
  background-color: #000;
}

.problemas-content {
  display: flex;
  justify-content: space-around;
}

.card-problema {
  width: 43rem;
}

header img {
  width: 60px;
  padding-right: 3rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }

  .logoDiv {
    flex-direction: column;
  }

  header img {
    padding-right: 0;
  }

  main {
    max-width: 90%;
    margin: 1rem auto;
  }

  .text-content {
    width: 90%;
  }

  .main-impactos {
    flex-direction: column;
  }

  .cardImpactos {
    width: 100%;
    margin: 0;
  }

  li {
    width: 100%;
  }

  img {
    max-width: 90%;
  }

  form {
    max-width: 100%;
  }

  .cardParceiros {
    width: 100%;
  }

  .equipe {
    flex-direction: column;
  }

  .parceiros {
    flex-direction: column;
  }

  .login-container {
    flex-direction: column;
  }

  .problemas-content {
    flex-direction: column;
  }

  .card-problema {
    width: 100%;
  }

  #nome,
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 85%;
    justify-content: center;
    display: flex;
    margin-left: 1rem;
  }

  .login-form {
    align-items: center;
  }

  #contato-form label,
  #contato-form input[type="submit"] {
    margin-left: 1rem;
  }

  .footer-icon img {
    margin-left: 1rem;
  }
}